<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="Data Source=LAPTOP-57BRPA77;Initial Catalog=Friends;Integrated Security=true; Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add name="Neo4jUri" connectionString="bolt://localhost:7687"/>
    <add name="Neo4jUsername" connectionString="neo4j"/>
    <add name="Neo4jPassword" connectionString="9W3gAv9UE^e9"/>
  </connectionStrings>
</configuration>