<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="Data Source=LAPTOP-DP366700;Initial Catalog=Friends;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
    <add name="Neo4jUri" connectionString="bolt://localhost:7687"/>
    <add name="Neo4jUsername" connectionString="neo4j"/>
    <add name="Neo4jPassword" connectionString="9W3gAv9UE^e9"/>
  </connectionStrings>
</configuration>